
/* Reset básico */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Playfair Display', serif;
line-height: 1.6;
background-color: #fff;
color: #333;
}

header {
background: #fff;
border-bottom: 1px solid #ccc;
padding: 10px 20px;
position: sticky;
top: 0;
z-index: 1000;
}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

.logo img {
height: 60px;
}

.menu ul {
list-style: none;
display: flex;
gap: 20px;
flex-wrap: wrap;
}

.menu ul li a {
text-decoration: none;
color: #8B0000;
font-weight: 600;
font-size: 1rem;
}

.home-slider {
position: relative;
overflow: hidden;
}

.home-slider .slide {
display: none;
width: 100%;
}

.home-slider .slide.active {
display: block;
}

.home-slider img {
width: 100%;
height: auto;
display: block;
}

section {
padding: 40px 20px;
text-align: center;
}

.sobre img, .dra img, .Servicos img, .convenios img {
max-width: 100%;
height: auto;
border-radius: 10px;
}


/* WhatsApp */
.whatsapp-button {
position: fixed;
bottom: 20px;
right: 20px;
z-index: 999;
}

.whatsapp-button img {
width: 50px;
height: 50px;
}

/* Responsivo */
@media (max-width: 768px) {
.menu ul {
flex-direction: column;
align-items: flex-start;
}

#dra .dra {
flex-direction: column-reverse;
text-align: center;
}

#dra .dra img,
#dra .dra-texto {
max-width: 100%;
text-align: center;
}
}